

body{margin-top: 60px;}



div {
    background-color: #b6e6ffcc;
    width: 200px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #083e58a1;
 }


h1 {
    font-size: 25px;
    margin: 0;
    padding-left: 4px;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: red;
 }


h2  {
    font-size: 43px;
    margin: 0;
    margin-top: 5px;
 }

ul{
    list-style-type: none;
    padding-left: 5px;
    font-size: 22px;
    margin: 17px 0px;
}

li{
    padding: 4.5px 0px;
}

a{
    padding: 2px 10px;
    text-decoration: none;
    background-color: white;
    color: #ff0505e3;
    font-size: 19px;
    letter-spacing: 2px;
    border-radius: 6px;
}

.blue{color: #3d7ff5;background: linear-gradient(90deg, #70a2fd, #08378e);-webkit-background-clip: text;-webkit-text-fill-color: #ffffff03;}
.red{color: #ff825cd9;background: linear-gradient(270deg, #631515, #fbaaaa);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.blu{color: #3d7ff5;background: linear-gradient(90deg, #7eacff, #0a2d6d);-webkit-background-clip: text;/* -webkit-text-fill-color: transparent; */-webkit-text-fill-color: transparent;}
.green{color: #9a1251c9;background: linear-gradient(270deg, #008000c9, #8de27af2);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}


